<div id="article-content" class="span-17">
  <div class="article_title">
    <h2><%= article.title %></h2>
  </div>
  <div class="article_body">
    <p>By <%= article.user.username %>
  	  on <%= article.created_at.strftime("%B %d %Y") %>
    </p>
    <p>
      <%= raw article.body %>
    </p>
  </div>
  <p>Tags:
    <% article.tags.each do |tag|%>
      <%= link_to "#{tag.name}", :controller => :tags, :action => :show, :id => tag.id %>
   <% end %>
  </p>
</div>