<div class="article_header">
  <h2><%= link_to "#{article.title}", article %></h2>
  By <%= article.user.username %>. Published on <%= article.created_at.strftime("%B %d, %Y") %><br />
</div>
  <%= raw truncate(article.body, :length => 500) %><br />
  <%= link_to 'Read full the full article', article %>
  <br /><br />
