<div class="span-17" id="article-content">
  <h2><%= article.title %></h2>
  <p>By <%= article.user.email %>
  	on <%= article.created_at.strftime("%B %d %Y") %>
  </p>
    <%= article.body %>
  </p>
  <p>Tags:
    <% article.tags.each do |tag|%>
      <%= link_to "#{tag.name}", :controller => :tags, :action => :show, :id => tag.id %>
   <% end %>
  </p>
</div>