<%= simple_form_for(@article) do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@article.errors.count, "error") %>.
    </div>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :body %>
  <%= f.input :tag_names %>
  <%= f.input :published %>
 <%= f.button :submit %>
<% end %>
