<%= tinymce %>
<%= form_for(@article, html: {class: "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="well">
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :summary, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :summary, class: "form-control", placeholder: "Summary" %>
    </div>
  </div>
  <div class="form-group form-group-lg">
    <%= f.label :body, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :body, class: "form-control wysihtml5", placeholder: "Body", rows: 30 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :tag_names, class: "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :tag_names, class: "form-control", placeholder: "Tags" %>
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input class="checkbox" id="article_published" name="article[published]" type="checkbox" value="1"> Publish
          </label>
        </div>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Save', class: "btn btn-default" %>
    </div>
  </div>
</div>
<% end %>