<%= tinymce %>
<h1>Editing article</h1>

<%= form_for(@article) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    Summary is used as the meta description. Please keep it brief.
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %> 
  </div>
  
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>
  
  <div class="field">
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
