<%= link_to 'Home', articles_path %>

<div class="article_index">
<% @articles.each do |article| %>
  <p class="article_body"> 
  	<div class="article_index_header">
  	  <h2><%= article.title %></h2>
  	  By <%= article.user.username %> on <%= article.created_at.strftime("%B %d %Y") %><br />
  	</div>
  	
    <%= raw truncate(article.body, :length => 500) %><br />
    <%= link_to 'Show', article %>
  	<% if can? :update, article %>
     | <%= link_to 'Edit', edit_article_path(article) %> |
    <% end %>
    <% if can? :destroy, article %>
      <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </p>
<% end %>
</div>
<div cass="pagination-links last">
  <%= will_paginate @articles %>
  <br />
  <% if can? :create, @article %>
    <%= link_to 'New Article', new_article_path %>
  <% end %>
</div>
