<% @articles.each do |article| %>
  <div class="article_index">
  	<div class="article_index_header">
  	  <h2><%= article.title %></h2>
  	  By <%= article.user_id %> on <%= article.created_at %><br />
  	</div>
  	
    <%= truncate(article.body, :length => 500) %><br />
  	<%= link_to 'Show', article %> 
  	<% if can? :update, article %>
     | <%= link_to 'Edit', edit_article_path(article) %> |
    <% end %>
    <% if can? :destroy, article %>
      <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
<% end %>


<br />

<%= link_to 'New Article', new_article_path %>
