<title>Clean Blog</title>
<%= render partial: "shared/header", locals: {url: '/assets/clean_blog/home-bg.jpg',
                                              title: 'Blog posts',
                                              sub_heading: 'and other ramblings'} %>
<!-- Main Content -->
<div class="container">
  <% if notice.present? %>
    <div class="row">
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
    <div/>
  <% end %>
  <% if alert.present? %>
    <aside class="alert alert-danger">
      <%= alert %>
    </aside>
  <% end %>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <%= render @articles %>

            <!-- Pager -->
            <ul class="pager">
                <%= will_paginate @articles, :page_links => false %>
            </ul>
        </div>
    </div>
</div>

<br>
