<h1>New article</h1>

<%= form_for(@article) do |f| %>
  <%= render "shared/error_messages", :target => @article %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "redactor" %>
  </div>
  <div class="field">
    <%= f.label :tag_names %><br />
    <%= f.text_field :tag_names %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', articles_path %>
