<p id="notice"><%= notice %></p>
<iframe   
src="http://www.facebook.com/plugins/like.php?href=www.roberthuberdeau.com&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true">
</iframe>
  <div class="article_title">
  <%= link_to 'Back to all articles', articles_path %>
  <h1><%= @article.title %></h1>
  </div>
 <div class="article_body">
    <% unless @article.user_id.nil? %>
      <p>By <%= @article.user.username %>. Published on <%= @article.created_at.strftime("%B %d, %Y") %></p>
    <% end %>
    <p>
      <%= raw @article.body %>
    </p>
    <p>Tags:
    <% @article.tags.each do |tag|%>
      <%= tag.name %>
    <% end %>
    </p>
  </div>
  <%= link_to 'Back to all Articles', articles_path %>
  
<div id="comments">
  <h3>Comments</h3>
  <div id ="comments">
    <%= render :partial => "comment", :collection => @article.comments %>
  </div>
</div>
<div id ="new_comment_box">

  
    <%= form_for(@comment, :remote => true) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>(Nobody will see your email)
      </div>
      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit 'Create Comment', :class =>"comment_button" %>
      </div>
    <% end %>
  
  </div>