<% provide(:title, "#{@title}") %>
<section>
  <div class = "article_show col-md-8 col-md-offset-2">
    <h1 class="article_title" ><%= @article.title %></h1>
    <h3 class="h4">
      Posted by <span class="author">ROBERT HUBERDEAU</span>
    </h3> 
    
    <%= render "shared/social_share" %>

    <div class="article_content">
      <%= coderay(@article.body).html_safe %>
    </div> 
  </div>
</section>

<div id="disqus_thread" class="col-md-8 col-md-offset-2"></div>
<script>
  var disqus_config = function () {
      this.page.url = 'http://www.rhuberdeau.com<%= request.path %>';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '<%= @article.title %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() {  // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      
      s.src = '//rhuberdeau.disqus.com/embed.js';
      
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>