<div id="admin_index" class="container">
  <h2>Unpublished Articles</h1>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <table class="table table-bordered row">
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>links</th>
    </tr>

    <% @articles.each do |article| %>
      <tr>
        <td class="col-xs-3"><%= article.title %></td>
        <td class="col-xs-5"><%= article.summary %></td>
        <td class="col-xs-4">
          <%= link_to 'Show', article_path(article), html_options = {class: "btn btn-success"} %>
          <%= link_to 'Edit', edit_article_path(article), html_options = {class: "btn btn-info"} %>
          <%= link_to "Publish", articles_publish_path(article), html_options = {class: "btn btn-info",  method: :put}  %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'Create new article', new_article_path, html_options = {class: "btn btn-success"} %>

  <h2>Published Articles</h1>

  <table class="table table-bordered row">
    <tr>
      <th>Title</th>
      <th class="admin_summary">Summary</th>
      <th>links</th>
    </tr>

    <% @published_articles.each do |article| %>
      <tr>
        <td class="col-xs-3"><%= article.title %></td>
        <td class="col-xs-5"><%= article.summary %></td>
        <td class="col-xs-4">
          <%= link_to 'Show', article_path(article), html_options = {class: "btn btn-success"} %>
          <%= link_to 'Edit', edit_article_path(article), html_options = {class: "btn btn-info"} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
