<% @articles.each do |article| %>
  <div class="article_index">
  	<div class="article_index_header">
  	  <h2><%= article.title %></h2>
  	  By <%= article.user_id %> on <%= article.created_at %><br />
  	</div>
  	<% if article.published == true %>
  	  <strong>Published</strong><br />
  	<% else %>
  	  <strong>This article has not been published</strong><br />
  	<% end %>
    <%= truncate(article.body, :length => 500) %><br />
  	<%= link_to 'Show', :controller => :admin, :action => :show, :id => article %> |
    <%= link_to 'Edit', edit_article_path(article) %> |
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>


<br />

<%= link_to 'New Article', new_article_path %>
