<div id="breadcrumbs">
  <%= link_to "Tutorials", tutorials_path %>--<%= link_to "#{@tutorial.name}" %>	
</div>

<p id="notice"><%= notice %></p>

<h2>Step <%= @step.position %></h2>
<p>
  <b>Tutorial:</b>
  <%= @tutorial.name %>
</p>

<p>
  <b>Body:</b>
  <%= @step.body %>
</p>

<%= link_to image_tag("/images/Knob Fast Rewind.png"), tutorial_step_path(@tutorial, previous_link) %> 
<%= link_to image_tag("/images/Knob Play.png"), tutorial_step_path(@tutorial, next_link) %> 


<%= link_to 'Back', @tutorial %>