<% cache do %>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Robert Huberdeau", main_app.root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", main_app.root_path %></li>
						<li><%= link_to "Blog", blog_engine.articles_path %></li>
            <li><%= link_to "Tutorials", main_app.tutorials_path %></li>
            <li><%= link_to "About", main_app.about_path %></li>
            <li><%= link_to "Contact", main_app.contact_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
<% end %>